
/* Styling for All */

body {
	background:url("login-background.jpg");  
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #30334b;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  

form input[type="email"], input[type="text"], input[type="password"]{
    padding: 17px;
    width: 65%;
    margin: auto;
    display: block;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    background: transparent;
    margin-bottom: 5px;
    color: white;
}
input[type=submit]{
	display: block;
    padding: 15px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 50%;
    border: 1px solid rgb(179, 172, 172);   
}
form input[type=submit]:hover{
	cursor:pointer;
	transform: scale(1.05);
}

/* Login.jsp Form Styling */
.wrapper{
    display:block;
    float:center;
    margin-right:auto;
    margin-left:auto;
    margin-top: 100px;
    width: 400px;
    height:400px;
    background-color:black;
    opacity: 0.85;
}
.wrapper h4, h2{
    text-align: center;
    padding-top: 30px;
    color: white;
}
.wrapper .icon{
    margin-top: 15px;
    text-align: center;
    font-size: 40px; 
    border-radius: 10px; 
}
.wrapper .icon i{
    padding-left: 8px;
}

.wrapper .reg-signin p{
	text-align:center;
	color:white;
}
.wrapper .reg-signin p a{
	color:white;
}

.wrapper .reg-signin p a:hover{
	color:#66fcf1;
}

.wrapper .login-redirect{
	padding-top:0;
}

.wrapper .icon{
    margin-top: 15px;
    text-align: center;
    font-size: 40px; 
    border-radius: 10px; 
}
.wrapper .icon i{
    padding-left: 8px;
}

.wrapper .login form input[type=submit]:hover{
	cursor:pointer;
	transform: scale(1.05);
}
.wrapper .reg-signin p{
	text-align:center;
	color:white;
}
.wrapper .reg-signin p a{
	color:white;
}

.wrapper .reg-signin p a:hover{
	color:#66fcf1;
}


/* Signup.jsp Form Styling */
.wrapper-signup{
    display:block;
    float:center;
    margin-right:auto;
    margin-left:auto;
    margin-top: 100px;
    width: 500px;
    height:800px;
    background-color:black;
    opacity: 0.85;

}

.wrapper-signup input[type="email"], input[type="text"], input[type="password"]{
    padding: 17px;
    width: 65%;
    margin: auto;
    display: block;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    background: transparent;
    margin-bottom: 20px;
    color: white;
}

.wrapper-signup input[type=submit]{
    margin-top: 40px;
}

.wrapper-signup .login form input[type=submit]:hover{
	cursor:pointer;
	transform: scale(1.05);
}
.wrapper-signup .reg-signin p{
	text-align:center;
	color:white;
}
.wrapper-signup .reg-signin p a{
	color:white;
}

.wrapper-signup .reg-signin p a:hover{
	color:#66fcf1;
}